# Проект "Telegram/ChatGPT"

## Умови:
- Проект повинен представляти собою Telegram-бота з підключенням ChatGPT.

- У проекті повинні бути реалізовані функціональності з 4 обов'язкових пунктів та 2 пунктів на вибір.

- Код проекту повинен відповідати стандарту [PEP8](https://peps.python.org/pep-0008/)

- Код повинен бути відмовостійким

- Дозволено використовувати будь-яку бібліотеку для Telegram API

### Токен openAI
Ключ для всієї групи в файлі - openai-token.txt

Важливо!
Якщо опублікувати токен у репозиторії, його буде автоматично відкликано через 20 хвилин.
GitHub має механізм захисту від випадкової публікації токенів. Детальніше: https://github.blog/news-insights/product-news/push-protection-is-generally-available-and-free-for-all-public-repositories/

### Як здати проект?
У чаті буде посилання на форму куди потрібно буде додати своє Ім'я (як у pumble) та посилання на GitHub.
> Важливо! Якщо опублікувати на GitHub токен openAI, він буде автоматично відкликаний/заблокований через 10-15 хвилин.

### Буде плюсом, якщо у проекті буде:

- Наявність файлу readme
- Наявність файлу requirements.txt
- Використання ConversationHandler
- Використання змінних середовища (для зберігання токенів)
- Логування
- Розгортання проекту на сервері (ngrok, pythonanywhere, glitch або ін.)
- Використання технологій, які не розглядалися в першому модулі


### Допомога з реалізацією
Проєкт будемо писати у форматі **Live Coding Session**. Ментор кодить, ви повторюєте та продовжуєте далі.

1. Видача токену OpenAI для групи. Для тестів використовуйте бюджетну версію: GPT-3.5, GPT-4o mini, GPT-4o.
2. Є підготовлений шаблон проєкту.

#### Умовний план
- Project onboarding — знайомимося з частиною проєкту, яка вже реалізована.
- З ментором реалізуємо завдання 1 і 2.
- Відповіді на запитання.


### Консультації по проекту
На проект виділяється 3 вебінари для відповідей на питання, ревю.

Їх можна використовувати послідовно відразу всі або розділити на частини.
Наприклад:
- провести 2 лекції,
- почати модуль 2, лекції 1 і 2 (вони теоретичні),
- потім провести фінальну лекцію по проекту.


---


# Завдання
## Обов'язкові

### 0. Винесіть токен в окремий файл.
Додайте цей файл до .gitignore.

### 1. *"Випадковий факт"*
Телеграм-бот повинен обробляти команду /random.
При обробці команди він надсилає заздалегідь підготовлене зображення
та робить запит до ChatGPT із заздалегідь підготовленим промптом.
Відповідь ChatGPT потрібно отримати та передати користувачеві.
До повідомлення має бути прикріплена кнопка "Закінчити", натискання на яку
працює так само, як команда /start.
І кнопка "Хочу ще факт", натискання на яку
працює так само, як команда /random


### 2. *"ChatGPT інтерфейс"*
Телеграм-бот повинен обробляти команду /gpt.
При обробці команди він надсилає заздалегідь підготовлене зображення
та робить запит до ChatGPT, передаючи йому
текст отриманого повідомлення. Відповідь ChatGPT потрібно отримати та
передати користувачеві текстовим повідомленням


### 3. *"Діалог з відомою особистістю"*
Телеграм-бот повинен обробляти команду /talk.
При обробці команди бот надсилає заздалегідь підготовлене зображення та
пропонує вибір з декількох відомих особистостей,
використовуючи кнопки. При натисканні кнопки потрібно встановити промпт обраної особистості.
Подальші текстові повідомлення від користувача потрібно передавати ChatGPT та
повертати його відповіді користувачеві.
До них має бути прикріплена кнопка "Закінчити", натискання на яку
працює так само, як команда /start


### 4. *"Квіз"*
Телеграм-бот повинен обробляти команду /quiz.
При обробці команди бот надсилає заздалегідь підготовлене зображення
та пропонує вибір з декількох тем, використовуючи кнопки.
Після вибору теми, передати запит ChatGPT і, отримавши питання квізу, передати його
користувачеві. Наступне текстове повідомлення користувача вважається відповіддю.
Його потрібно передати ChatGPT та отримати результат. Результат передати користувачеві
з можливістю задати ще питання на ту ж тему, змінити тему або закінчити квіз, за допомогою кнопок.
Бот також повинен вести рахунок правильних відповідей та
відображати разом з черговим результатом


### 5. **Тема на вибір** (опціональні)
Вибери дві або більше ідей із запропонованих (або придумай свою!):

**"Перекладач"**

Бот пропонує вибрати мову, на яку потрібно перекласти текст, використовуючи кнопки.
Після вибору мови користувач надсилає текст, який потрібно перекласти.
Бот використовує ChatGPT для перекладу тексту та надсилає результат користувачеві.
До повідомлення має бути прикріплена кнопка зміни мови та кнопка "Закінчити", натискання на яку
працює так само, як команда /start.


**"Голосовий ChatGPT"**

Бот повинен прийняти голосове повідомлення від користувача. Перевести його в текст
та надіслати ChatGPT. Отримавши відповідь, перетворити її на голосове повідомлення та
надіслати у вигляді аудіоповідомлення користувачеві.


**"Рекомендації щодо фільмів та книг"**

Бот пропонує вибрати категорію рекомендацій: фільми, книги, музика.
Після вибору категорії бот запитує жанр.
Після отримання, формує запит та запитує у ChatGPT рекомендації
та надсилає їх користувачеві.
До них мають бути прикріплені кнопки:

"Не подобається", яка робить вибраний твір нецікавим. Натискання на
кнопку генерує нову відповідь, враховуючи всі нецікаві твори, введені користувачем.

"Закінчити", натискання на яку працює так само, як команда /start.


**"Словниковий тренажер"**

Бот допомагає користувачеві розширювати словниковий запас іноземної мови.
Може надсилати нове слово з перекладом та прикладами використання.
При надсиланні слово вважається вивченим. До повідомлення мають бути прикріплені
кнопки "Ще слово", "Тренуватися", та "Закінчити".
При натисканні на "Тренуватися" бот повинен проводити тест по вивчених словах
з валідацією з боку ChatGPT.

Тест повинен представляти собою перебір усіх вивчених слів. Кожне таке слово
має бути виведене в повідомленні. Наступне повідомлення користувача вважається
перекладом цього слова. Для валідації правильності можна використовувати ChatGPT.
В кінці тесту потрібно виводити результат у вигляді кількості правильних відповідей.


**"Розпізнавання зображень"**

Бот повинен приймати від користувача зображення та передавати його ChatGPT.
ChatGPT повинен визначити, що знаходиться на зображенні та описувати в текстовому вигляді.
Відповідь передати користувачеві в текстовому повідомленні.


**"Допомога з резюме"**

Бот запитує у користувача інформацію про освіту, досвід роботи та навички.
На основі отриманих даних бот генерує шаблон резюме та надсилає його користувачеві.


#### Своя тема

Якщо з'явилася ідея, яку хочеться реалізувати в проекті, нею можна замінити
один із виборчих пунктів. Для валідації зверніться до Ментора.